[Desktop Entry]
Type=Application
Name=Mozilla Firefox
Comment=Интернет-проводник
Icon=firefox
Exec=exo-open --launch WebBrowser
Path=
Terminal=false
StartupNotify=false

