[Desktop Entry]
Type=Application
Name=Web browser
Name[ru]=Веб-браузер
Comment=Интернет-проводник
Icon=web-browser
Exec=exo-open --launch WebBrowser
Path=
Terminal=false
StartupNotify=false

