[Desktop Entry]
Type=Application
Icon=altlinux
Hidden=true
Name=ALT Linux Documentation
Name[ru]=Документация ALT Linux
Comment=ALT Linux Documentation main page
Exec=url_handler.sh /usr/share/doc/alt-docs/index.html
Categories=Documentation;System;Core;X-ALTLinux-Core;
