[Desktop Entry]
Version=1.0
Name=APT Indicator
Name[ru]=Индикатор обновлений
Type=Application
Exec=apt-indicator
TryExec=apt-indicator
Icon=altlinux
Terminal=false
StartupNotify=false
X-KDE-autostart-phase=1
X-KDE-autostart-after=panel
X-KDE-StartupNotify=false
X-DBUS-StartupType=none
Categories=Qt;System;
GenericName=Updates Indicator
GenericName[ru]=Индикатор обновлений
Comment=Applet for indication that newer packages are available
Comment[ru]=Аплет для отображения доступности новых пакетов
