[Desktop Entry]
Type=Application
Name=Blender 3D modeller (window mode)
Name[ru]=Редактор 3D-моделей Blender (в окне)
Name[tt]=Blender 3D-модель редакторы (window mode)
Comment=Create and edit 3D models and animations
Comment[ru]=Создание и редактирование трёхмерных моделей и анимаций (оконный режим)
Comment[tt]=Анимацияне һәм өч үлчәмле модельләрне башкару һәм редакторлау
Icon=blender
Exec=blender -w %f
TryExec=blender -w %f
Terminal=true
Categories=X-ALT-Multimedia-Graphics;Graphics;3DGraphics;
StartupNotify=false
MimeType=application/x-blender;
