[Desktop Entry]
Name=Space simulator Celestia
Name[ru]=Симуляция космоса Celestia
GenericName=Space simulation
Encoding=UTF-8
Comment=A real-time visual space simulation
Exec=celestia %f
Terminal=false
Icon=celestia
Type=Application
Categories=Game;
