[Desktop Entry]
Name=Chestnut Dialer
Name[ru]=Дозвон по PPP Chestnut Dialer
GenericName=PPP dialing program
GenericName[ru]=Программа дозвона по протоколу PPP
GenericName[uk]=Програма дозвону за протоколом PPP
Comment=Connect to the Internet
Comment[ru]=Подключится к Интернет
Comment[uk]=Підключитися до Інтернет
Exec=/usr/bin/chestnut-dialer -i gtk2
NotShowIn=KDE;
Terminal=false
Type=Application
Icon=chestnut-dialer.png
Categories=Application;Network;Dialup;
Encoding=UTF-8
Version=0.9.4
