[Desktop Entry]
Name=Dropbox File Synchronizer
Name[ru]=Синхронизация файлов Dropbox
GenericName=Dropbox File Synchronizer
GenericName[ru]=Синхронизация файлов Dropbox
Comment=Sync your files across computers and to the web
Exec=dropbox-wrapper
TryExec=dropbox-wrapper
Terminal=false
Type=Application
Icon=dropbox
Categories=Network;FileTransfer;
StartupNotify=false
