[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=EiskaltDC
Name=Direct Connect клиент EiskaltDC
Type=Application
Exec=eiskaltdc
Icon=eiskaltdc
Terminal=false
GenericName=Direct Connect client
GenericName[ru]=Клиент сетей Direct Connect
GenericName[en]=Direct Connect client
GenericName[be]=Кліент сеткі Direct Connect
Comment=Share files over the Direct Connect network
Comment[ru]=Делитесь файлами с помощью сетей Direct Connect
Comment[en]=Share files over the Direct Connect network
Comment[be]=Паздяляйцеся файламі праз сетку Direct Connect
Categories=Network;FileTransfer;P2P;Qt;
GenericName[ru_RU]=Клиент сетей Direct Connect
