[Desktop Entry]
Name=GCompris
Name[ru]=Настройки Gcompris
GenericName=Gcompris Settings
GenericName[ru]=Настройки Gcompris
Comment=Administration for gcompris
Comment[ru]=Административный интерфейс для gcompris
Exec=gcompris -a --nolockcheck
TryExec=gcompris -a --nolockcheck
Icon=gcompris-edit
Terminal=false
Type=Application
Categories=Game;KidsGame;
StartupNotify=true
