[Desktop Entry]
Encoding=UTF-8
Name=Touchpad
Name[ar]=لوحة اللمس
Name[el]=Touchpad
Name[es]=Touchpad
Name[hu]=Érintőtábla
Name[ja]=タッチパッド
Name[nb]=Touchpad
Name[pl]=Touchpad
Name[ru]=Сенсорная панель
Name[zh_CN]=触摸板
Name[zh_TW]=觸控板
Comment=Set your touchpad preferences
Comment[ar]=اضبط تفضيلات لوحة اللمس
Comment[el]=Καθορίστε τις προτιμήσεις σας για το touchpad
Comment[es]=Configurar tus preferencias del touchpad
Comment[hu]=Érintőtábla beállítása
Comment[ja]=タッチパッドの設定を行います
Comment[nb]=Endre brukervalg for din touchpad
Comment[pl]=Ustaw Twoje preferencje touchpada
Comment[zh_CN]=设置触摸板首选项
Comment[zh_TW]=設定您的觸控板使用偏好
Exec=gsynaptics
TryExec=gsynaptics
Icon=touchpad
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;Application;Settings;
OnlyShowIn=GNOME;XFCE;
