[Desktop Entry]
Name=Kino
Name[ru] Видеоредактор Kino
GenericName=Video Editor
GenericName[ca]=Editor de vídeo
GenericName[cs]=Video editor
GenericName[da]=Videoredigering
GenericName[de]=Videoschnittprogramm
GenericName[el]=Επεξεργαστής Βίντεο
GenericName[es]=Editor de vídeo
GenericName[eu]=bideo-editorea
GenericName[fr]=Montage vido
GenericName[hu]=Videoszerkesztő
GenericName[it]=Editor Video
GenericName[sv]=Videoredigering
GenericName[nb]=Videoredigering
GenericName[no]=Videoredigerer
GenericName[ru]=Видеоредактор
GenericName[tt]=Видеоредактор
GenericName[uk]=Відеоредактор
Comment=Edit DV video
Comment[ca]=Edita vídeos DV
Comment[cs]=Nástroj pro úpravy DV videa
Comment[da]=Rediger DV video
Comment[de]=Bearbeitet Digital-Videos
Comment[el]=Επεξεργαστής Βίντεο
Comment[es]=Editar vídeos DV
Comment[eu]=Editatu DV bideoak
Comment[fr]=Montage vido DV
Comment[hu]=DV videók szerkesztése
Comment[it]=Montaggio Video DV non lineare
Comment[sv]=Redigera DV video
Comment[nb]=Redigering av DV video
Comment[no]=Redigere DV video
Comment[ru]=Редактирование DV-видео
Comment[tt]=DV видео редакторлау
Comment[uk]=Редагування DV-відео
Encoding=UTF-8
TryExec=kino
Exec=kino %F
Icon=kino.png
Terminal=false
StartupNotify=true
Type=Application
Categories=Application;AudioVideo;
MimeType=video/dv;application/smil
