[Desktop Entry]
Type=Application
Name=Midnight Commander
Name[ru]=Консольный файловый менеджер
Comment=Midnight Commander
Icon=mc
Exec=mc
TryExec=mc
Terminal=true
Hidden=true
Categories=ConsoleOnly;System;FileTools;FileManager;
