[Desktop Entry]
Version=1.0
Type=Application
Name=mcedit
GenericName=Text Editor
GenericName[ru]=Текстовый редактор
Comment=Internal file editor of GNU Midnight Commander
Comment[ru]=Встроенный текстовый редактор GNU Midnight Commander
Icon=MidnightCommander
Exec=mcedit
TryExec=mcedit
Terminal=true
Hidden=true
Categories=ConsoleOnly;Utility;TextEditor;
