[Desktop Entry]
Type=Application
Name=Adobe Flash Player License Terms
GenericName=License Agreement
GenericName[ru]=Лицензионное соглашение
Icon=flash-player-properties
Exec=xdg-open http://www.adobe.com/legal/licenses-terms.html
TryExec=xdg-open http://www.adobe.com/legal/licenses-terms.html
Categories=AudioVideo;
NoDisplay=true
