[Desktop Entry]
Encoding=UTF-8
Terminal=false
Icon=libreoffice-printeradmin.png
Type=Application
Categories=Application;HardwareSettings;
Exec=/usr/lib/libreoffice/program/spadmin
Name=LibreOffice Printer Administration
Name[en]=LibreOffice Printer Administration
Name[de]=LibreOffice Drucker Verwaltung
Name[af]=LibreOffice-drukkeradministrasie
Name[ar]=LibreOffice Drucker Verwaltung
Name[be_BY]=Кіраванне прынтэрам LibreOffice
Name[bg]=Администрация на принтера за LibreOffice
Name[bs]=LibreOffice administracija štampača
Name[ca]=Administració d'impressió de l'LibreOffice
Name[cs]=Administrace tiskáren LibreOffice
Name[cy]=Gweinyddu Argraffu LibreOffice
Name[da]=LibreOffice-printeradministration
Name[el]=Διαχείριση εκτυπωτή LibreOffice
Name[en_GB]=LibreOffice Printer Administration
Name[en_ZA]=LibreOffice Printer Administration
Name[es]=Administración de la impresora de LibreOffice 
Name[et]=LibreOffice-i printerite haldamine
Name[fi]=LibreOffice - Tulostimen hallinta
Name[fr]=Gestion des imprimantes de LibreOffice
Name[gu_IN]=LibreOffice પ્રિન્ટરનો વહીહટકર્તા
Name[he]=LibreOffice Drucker Verwaltung
Name[hi_IN]=LibreOffice Drucker Verwaltung
Name[hr]=LibreOffice aAdministracija pisača
Name[hu]=LibreOffice Nyomtatókezelés
Name[it]=LibreOffice Gestione stampanti
Name[ja]=LibreOffice プリンタの管理
Name[km]=ការ​គ្រប់គ្រង​ម៉ាស៊ីន​បោះពុម្ព​ LibreOffice
Name[ko]=LibreOffice 프린터 관리
Name[lt]=„LibreOffice“ spausdintuvo tvarkymas
Name[nb]=LibreOffice-skriveradministrasjon
Name[nl]=LibreOffice-printerbeheer
Name[nn]=LibreOffice Printer Administration
Name[nr]=LibreOffice Ukuphathwa Kwesigadangisi
Name[ns]=LibreOffice Taolo ya Segatiši
Name[pa_IN]=LibreOffice ਛਪਾਈ ਪ੍ਰਬੰਧਨ
Name[pl]=LibreOffice - Zarządzanie drukarką
Name[pt]=LibreOffice Drucker Verwaltung
Name[pt_BR]=Administrador de impressoras LibreOffice
Name[ru]=LibreOffice Управление принтером
Name[rw]=Ubugenzuzi bwa Mucapyi LibreOffice
Name[sh_YU]=LibreOffice podešavanje štampača
Name[sk]=Správa tlačiarní LibreOffice
Name[sl]=Nastavitve tiskalnika LibreOffice
Name[sr_CS]=LibreOffice подешавање штампача
Name[sv]=LibreOffice-skrivaradministration
Name[sw_TZ]=LibreOffice Utawala wa Printa
Name[th]=LibreOffice ดูแลเครื่องพิมพ์
Name[tn]=LibreOffice Printer Administration
Name[tr]=LibreOffice Yazıcı Yönetimi
Name[ts]=Vukongomisi bya Printa LibreOffice
Name[uk]=Налаштування друкарки LibreOffice
Name[vi]=Quản lý Máy in %TÊNSẢNPHẨM
Name[xh]=Ulawulo Lwesishicileli lwe-LibreOffice
Name[zh_CN]=LibreOffice 打印机管理
Name[zh_TW]=LibreOffice 印表機管理
Name[zu]=LibreOffice Ukuphathwa komshicileli
