[Desktop Entry]
Version=1.0
Name=Remmina
GenericName=Remote Desktop Client
GenericName[ru]=Удалённый доступ к рабочему столу
X-GNOME-FullName=Remmina Remote Desktop Client
Comment=Connect to remote desktops
Comment[ru]=Удалённый доступ к рабочему столу
TryExec=remmina
Exec=remmina
Icon=remmina
Terminal=false
Type=Application
Actions=
Categories=GTK;GNOME;X-GNOME-NetworkSettings;Network;
Actions=Profile;Tray;
