[Desktop Entry]
Name=TiMidity++
Name[ru]=MIDI-плеер TiMidity++
Icon=timidity
Exec=timidity -igt
Comment=A midi to wav converter and midi file player
Comment[de]=Ein Midi-zu-Wav-Konverter und Midi-Player
Comment[ru]=Плейер/конвертор MIDI-файлов
GenericName=midi file player
GenericName[de]=Midi-Player
GenericName[ru]=MIDI-плейер
Terminal=false
Type=Application
Categories=AudioVideo;Audio;Player;
MimeType=audio/x-midi;
