[Desktop Entry]
Version=1.0
Name=VM VirtualBox OSE
Name[ru]=Виртуализатор VirtualBox
GenericName=Virtual Machine
GenericName[ru]=Виртуальная машина
Type=Application
Exec=VirtualBox %U
TryExec=VirtualBox
MimeType=application/x-virtualbox-vbox;application/x-virtualbox-vbox-extpack;application/x-virtualbox-ovf;application/x-virtualbox-ova;
DocPath=file:///usr/share/doc/virtualbox-doc-4.2.12/UserManual.pdf
Icon=virtualbox
Categories=Emulator;System;X-MandrivaLinux-System;
Comment=Run several virtual systems on a single host computer
Comment[de]=Mehrere virtuelle Maschinen auf einem einzigen Rechner ausführen
Comment[it]=Esegui più macchine virtuali su un singolo computer
Comment[pl]=Uruchamianie wielu systemów wirtualnych na jednym komputerze gospodarza
Comment[ru]=Позволяет запускать несколько виртуальных систем на одном компьютере
Comment[sv]=Kör flera virtuella system på en enda värddator
Comment[ko]=가상 머신
