/* CSS file for indexhtml page in ALT Linux distros */
body {
    font-family: Verdana,'DejaVu Sans',Helvetica,sans;
    text-align: left;
    font-size: 12px;
    background: #f8f8f8;
    background-image: url('images/dotted-background.png');
}
div#content {
    background: white;
    border: solid 6px #d0d0d0;
    border-radius: 8px; 
    -webkit-border-radius: 8px; 
    -moz-border-radius: 7px; 
    -khtml-border-radius: 12px;
    padding: 0;
    position: relative;
    width: 780px;
    margin: 40px auto;
}
div#languages {
    text-align: right;
    font-size: x-small;
    padding: 12px;
}
div#title {
    font-weight: normal;
    font-size: 18pt;
    font-family: Verdana, Helvetica;
    text-align: center;
    margin-top: 0;
    margin-bottom: 12px;
    background: #d3eaf9;
    padding: 6px 0 6px 0;
    border-top: solid 1px #81c3eb;
    border-bottom: solid 1px #81c3eb;
    background-image: url('images/lines.png');
}
div#top-site {
    font-size: 120%;
    font-weight: normal;
    font-family: Verdana, Helvetica;
    text-align: center;
    padding: 4px;
}
div#main {
    padding: 12px;
}
th {
    vertical-align: bottom;
    text-align: center;
    padding-top: 5px;
}
img.icon {
    width: 48px;
    height: 48px;
}
img.icon_big {
    width: 60px;
    height: 60px;
}
img.banner {
    width: 130px;
    height: 30px;
    margin: 6px;
}
li {
    line-height: 1.35em;
}
td#central_pane {
    border-left:  dotted 1px #ccc;
    border-right: dotted 1px #ccc;
    text-align: center;
}
.column {
    text-align: center;
}
td#search {
    text-align: center;
    padding: 12px;
}
input#search_string {
    position: relative;
    vertical-align: top;
    margin-top: 12px;
    font-size: 130%;
    background: white;
    border: solid 1px #81c3eb;
    border-radius: 2px; 
    -webkit-border-radius: 2px; 
    -moz-border-radius: 2px; 
    -khtml-border-radius: 2px;
}
input#search_button {
    margin-top: 12px;
    vertical-align: top;
    font-size: 130%;
}
td#social {
    text-align: center;
    border-bottom: dotted 1px #ccc;
    font-size: xx-small;
    color: #999;
}
td#left_footer, td#right_footer {
    font-size: xx-small;
    color: #999;
    vertical-align: bottom;
    padding-top: 15px;
}
td#right_footer {
    text-align: right;
}
ul li {
    text-align: left;
    list-style: square url('bullet.png');
}
a:link, a:visited {
    text-decoration: none;
    color: #2e7194;
}
a:hover {
    text-decoration: none;
    color: #f60;
    border-bottom: 1px dotted #f60;
}
a.image:hover, a.image:link, a.image:visited {
    text-decoration: none;
    border: 0;
}
