[Desktop Entry]
Version=1.0
Type=Application
Name=driconf
Name[ru]=Настройки DRI
Comment=DRI Configuration GUI
Icon=driconf
Exec=driconf
Terminal=true
Categories=Settings;HardwareSettings;X-ALTLinux-VideoSettings;
