[Desktop Entry]
Name=Java Plugin Control Panel (java-1.6.0-sun)
Comment=Java Control Panel
Exec=jcontrol
Icon=java-1.6.0-sun
Terminal=false
Type=Application
Hidden=true
Categories=Settings;Java;X-ALTLinux-Java;X-ALTLinux-Java-1.6.0-sun;
