[Desktop Entry]
Version=1.0
Name=Ristretto Photo Viewer
Name[ar]=عراض الصور Ristretto
Name[ca]=Visualitzador de fotografies Ristretto
Name[cs]=Prohlížeč fotografií Ristretto
Name[da]=Ristretto billedfremviser
Name[de]=Bildbetrachter Ristretto
Name[el]=Προβολέας εικόνων ristretto
Name[en_GB]=Ristretto Photo Viewer
Name[es]=Visor de imágenes Ristretto
Name[eu]=Ristretto argazki ikustatzailea
Name[fi]=Ristretto-valokuvakatselin
Name[fr]=Visionneuse d’Images Ristretto
Name[gl]=Visor de fotos Ristretto
Name[hr]=Ristretto preglednik fotografija
Name[hu]=Ristretto fénykép-megjelenítő
Name[id]=Penilik Gambar Ristretto
Name[it]=Visualizzatore di foto Ristretto
Name[ja]=Ristretto フォトビューア
Name[lv]=Ristretto attēlu skatītājs
Name[nb]=Ristretto bildefremviser
Name[pl]=Przeglądarka obrazów Ristretto
Name[pt]=Visualizador de fotos Ristretto
Name[ro]=Vizualizare imagini Ristretto
Name[ru]=Просмотр изображений
Name[sk]=Ristretto - prehliadač fotiek
Name[sv]=Fotovisaren Ristretto
Name[tr]=Ristretto Fotoğraf Gösterici
Name[ug]=Ristretto سۈرەت كۆرگۈ
Name[uk]=Переглядач фотографій Ristretto
Name[zh_CN]=Ristretto 图像查看器
Comment=Look at your photo's easily
Comment[ar]=نظرة على الصورك الخاصة بسهول
Comment[ast]=Ver semeyes cenciellamente
Comment[ca]=Mira fàcilment les teves fotos
Comment[cs]=Prohlížejte si své fotografie jednoduše
Comment[da]=Se nemt dine billeder
Comment[de]=Bilder anschauen leicht gemacht
Comment[el]=Δείτε τις εικόνες σας εύκολα
Comment[en_GB]=Look at your photo's easily
Comment[es]=Mire su foto fácilmente
Comment[eu]=Ikusi zure argazkiak erraz
Comment[fi]=Katsele valokuviasi helposti
Comment[fr]=Regardez votre photo facilement
Comment[gl]=Mire as súas fotos sen complicarse
Comment[hr]=Pogledajte svoje fotografije lako
Comment[hu]=Fényképek egyszerű megjelenítése
Comment[id]=Lihat foto anda dengan mudah
Comment[it]=Guardare le proprie foto con semplicità
Comment[ja]=簡単に写真を見ます。
Comment[lv]=Apskaties savas fotogrāfijas viegli
Comment[nb]=Se på bildene dine
Comment[nl]=Kijk gemakkelijk naar je foto's 
Comment[pl]=Umożliwia wygodne przeglądanie zdjęć i obrazów
Comment[pt]=Veja as suas fotos facilmente
Comment[ro]=De văzut rapid poze
Comment[ru]=Просмотр фотографий - это просто
Comment[sk]=Prezerajte Vaše fotografie jednoducho
Comment[sv]=Se enkelt på dina foton
Comment[tr]=Fotoğraflarına kolayca bak
Comment[uk]=Переглядайте Ваші фотографії легко
Comment[zh_CN]=轻松查看您的照片
GenericName=Image Viewer
GenericName[ar]=عارض الصور
GenericName[ast]=Visor d'imáxenes
GenericName[bg]=Програма за преглед на изображения
GenericName[ca]=Visor d'imatges
GenericName[cs]=Prohlížeč obrázků
GenericName[da]=Billedfremviser
GenericName[de]=Bildbetrachter
GenericName[el]=Εφαρμογή προβολής εικόνων
GenericName[en_GB]=Image Viewer
GenericName[es]=Visor de imágenes
GenericName[eu]=Irudi ikustatzailea
GenericName[fi]=Kuvakatselin
GenericName[fr]=Visualiseur d’images
GenericName[gl]=Visor de imaxes
GenericName[hr]=Preglednik slika
GenericName[hu]=Képmegjelenítő
GenericName[id]=Penilik Gambar
GenericName[it]=Visualizzatore di immagini
GenericName[ja]=画像ビューア
GenericName[lv]=Attēlu Skatītājs
GenericName[nb]=Bildefremviser
GenericName[nl]=Afbeeldingsweergave
GenericName[pl]=Przeglądarka obrazów
GenericName[pt]=Visualizador de imagens
GenericName[pt_BR]=Visualizador de Imagens
GenericName[ro]=Vizualizare imagini
GenericName[ru]=Просмотр изображений
GenericName[sk]=Prehliadač obrázkov
GenericName[sv]=Bildvisare
GenericName[tr]=Resim Gösterici
GenericName[ug]=سۈرەت كۆرگۈ
GenericName[uk]=Переглядач зображень
GenericName[ur]=تصاویر منظر کار
GenericName[ur_PK]=تصاویر منظر کار
GenericName[vi]=Trình xem ảnh
GenericName[zh_CN]=图像查看器
Exec=ristretto %F
Icon=ristretto
Terminal=false
Hidden=true
Type=Application
X-MultipleArgs=false
Categories=GTK;Graphics;Viewer;
StartupNotify=true
MimeType=image/png;image/gif;image/jpeg;image/bmp;image/x-ico;image/x-pixmap;image/tiff;
