[Desktop Entry]
Encoding=UTF-8
Exec=thunderbird
Icon=thunderbird
Type=Application
Name=Mozilla Thunderbird
Name[bn]=মোজিলা থাণ্ডারবার্ড
Name[cy]=Aderyn Taran (Mozilla Thunderbird)
Name[eo]=Mozilo Thunderbird
Name[hi]=मोज़िला थंडरबर्ड
Name[ko]=모질라 썬더버드
Name[mn]=Мозилла түндэрбөрд
Name[ta]=மொசில்லா தண்டர்பேர்ட்
Name[tg]=Мозиллаи Thunderbird
Name[xx]=xxMozilla Thunderbirdxx
Name[ru]=Почтовая программа Thunderbird
GenericName=Mail Client
GenericName[af]=Pos Kliënt
GenericName[ar]=البريد الألكتروني
GenericName[az]=Poçt Alıcısı
GenericName[be]=Паштовы кліент
GenericName[bg]=Пощенски клиент
GenericName[bn]=ইমেইল ক্লায়েন্ট
GenericName[br]=Arval postel
GenericName[bs]=Program za čitanje elektronske pošte
GenericName[ca]=Client de correu electrònic
GenericName[cs]=Klient pro čtení elektronické pošty
GenericName[cy]=Dibynnydd Ebost
GenericName[da]=E-mail-klient
GenericName[de]=E-Mail-Programm
GenericName[el]=Πελάτης mail
GenericName[eo]=Legi kaj sendi retpoŝton
GenericName[es]=Cliente de correo electrónico
GenericName[et]=Meiliklient
GenericName[eu]=Posta Bezeroa
GenericName[fa]=کارگیر پست الکترونیکی
GenericName[fi]=Sähköpostiohjelma
GenericName[fo]=Postforrit
GenericName[fr]=Logiciel de messagerie électronique
GenericName[gl]=Cliente de correo
GenericName[he]=תוכנית דואר
GenericName[hi]=डाक क्लाएंट
GenericName[hr]=Program za čitanje elektronske pošte
GenericName[hsb]=Emailowy program
GenericName[hu]=Levelezőprogram
GenericName[id]=Klien Mail
GenericName[is]=Póstforrit
GenericName[it]=Programma di posta elettronica
GenericName[ja]=メールクライアント
GenericName[ko]=편지를 주고 받는 프로그램
GenericName[lo]=ໄຄແເອັນຈົດຫມາຍເອເລັກໂຕນິກ
GenericName[lt]=Pašto klientas
GenericName[lv]=Pasta Klients
GenericName[mk]=Програма за електронска пошта
GenericName[mn]=Э-Захиа-Програм
GenericName[mt]=Klijent tal-imejl
GenericName[nb]=E-postklient
GenericName[nds]=Mailprogramm
GenericName[nl]=E-mailcliënt
GenericName[nn]=Lesing og sending av e-post
GenericName[nso]=Moreki wa Poso
GenericName[oc]=Programari de correu electrònic
GenericName[pl]=Program do wysyłania i odbierania poczty elektronicznej
GenericName[pt]=Client de E-mail
GenericName[pt_BR]=Cliente de E-mail
GenericName[ro]=Program de poştă electronică
GenericName[ru]=Клиент электронной почты
GenericName[sk]=Klient elektronickej pošty
GenericName[sl]=Program za e-pošto
GenericName[sr]=Програм за e-пошту
GenericName[sr@Latn]=Program za e-poštu
GenericName[ss]=Likhasimende leliposi
GenericName[sv]=E-postklient
GenericName[ta]=அஞ்சல் உறுப்பினர்
GenericName[tg]=Коргири почтаи эллектроникӣ
GenericName[th]=ไคลเอนต์จดหมายอิเล็กทรอนิกส์
GenericName[tr]=Posta İstemcisi
GenericName[uk]=Клієнт електронної пошти
GenericName[uz]=Хат-хабар клиенти
GenericName[ven]=Mushumisani na poso
GenericName[wa]=Cliyint d' emilaedje
GenericName[xh]=Umxhasi Weposi
GenericName[xx]=xxMail Clientxx
GenericName[zh_CN]=邮件程序
GenericName[zh_TW]=郵件處理程式
GenericName[zu]=Umxhasi weposi
X-KDE-StartupNotify=true
Categories=GTK;Email;Network;
